$primary-color: #3F91F5;
$online: #00DC16;
$black: #22292f !default; // 231f48 22292f

.root {
    background: #000;
}

.main_sideBar {
    height: 9vh;

    .main_logo {
        border-radius: 20%;
    }

    .main_name {
        color: $primary-color;
        font-size: 18px;
    }


}

// .main_sideBar{
//     background: #3F91F5;
//     position: relative;
// }

.main_header {
    .dot_status {
        color: $online;
        position: absolute;
        left: 20px;
        bottom: 0px;
    }
}

.main_layout {
    background: rgba(128, 181, 245, 0.16);
}

.custom_icon_sidebar {
    font-size: 23px !important;
}

.header_table {
    --bs-table-bg: #F3F2F7
}

.filter-listing {
    margin-bottom: 30px;
}

.filter-listing button {
    margin-right: 15px;
}

.demo-inline-spacing {
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
    align-items: center;

    &>* {
        margin-right: 1.5rem;
        margin-top: 1.5rem;
    }
}

.form-label span {
    color: red;
}

.sider_parent {
    min-width: 210px;

    .sider_custom {
        overflow-y: auto;
        max-height: 85vh;
    }

    .resizeWidth {
        width: 70px !important;
    }


    ::-webkit-scrollbar {
        width: 8px;
    }

    ::-webkit-scrollbar-track {
        background: #f1f1f1;
    }

    ::-webkit-scrollbar-thumb {
        background-color: #7fbbf3;
        border-radius: 10px;
        border: 2px solid #f1f1f1;
    }

    ::-webkit-scrollbar-thumb:hover {
        background: #1e85f4;
        width: 10px;
    }

    .ant-layout-sider-trigger {
        background: #007aed;

        span {
            font-size: 20px;
            font-weight: bold;
        }
    }
}

.none_Selected {
    color: #62728899
}


.dashboard-scoll {
    &::-webkit-scrollbar-track {
        -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
        border-radius: 2px;
        background-color: #f5f5f5;
    }

    &::-webkit-scrollbar {
        width: 8px;
        background-color: #f5f5f5;
    }

    &::-webkit-scrollbar-thumb {
        border-radius: 2px;
        -webkit-box-shadow: inset 0 0 2px rgba(0, 0, 0, 0.3);
        background-color: #c3c3c3;
    }
}

.dropdown-user {
    list-style-type: none !important;

    .dropdown-menu {
        left: auto !important;
        right: 0;
        margin: 0px 20px;
    }

    .nav-link {
        // Override margin from .nav-tabs
        margin-right: 0;
        border-radius: 10px;
        text-align: center;
        margin-bottom: 5px;

        .nav-link.active,
        .nav-link.active:hover,
        .nav-link.active:focus {
            border-bottom-color: transparent; //$nav-tabs-justified-active-link-border-color;
        }
    }
}

// Global
.dropdown-menu {
    .dropdown-item {
        outline: 0;
        display: flex;
        align-items: center;
        height: 45px
    }

    .dropdown-item:focus {
        outline: 0;
    }
}

// Dropdown Icon
.dropdown-icon-wrapper {
    .dropdown-toggle:after {
        display: none;
    }

    .dropdown-menu {
        min-width: auto;

        .dropdown-item {
            padding: 0.5rem 1.1rem;
            cursor: pointer;
        }
    }
}

a.dropdown-user-link {
    display: flex;
    align-items: center;
    list-style-type: none !important;

    .user-name {
        display: inline-block;
        margin-bottom: 0.435rem;
        margin-left: 0.2rem;
    }

    .user-status {
        font-size: smaller;
    }

    img {
        box-shadow: 0 4px 8px 0 rgba($black, 0.12), 0 2px 4px 0 rgba($black, 0.08);
    }
}

a.dropdown-user-link {
    .user-nav {
        display: flex;
        flex-direction: column;
        align-items: flex-end;
        float: left;
        margin: 0px 10px;
    }
}

// navbar toggle menu size (display below lg)
a.menu-toggle {

    i,
    svg {
        height: 1.6rem;
        width: 1.6rem;
        font-size: 1.6rem;
    }
}