$primary-color: #3F91F5;
$online: #00DC16;

.root {
    background: #000;
}

.main_sideBar {
    height: 9vh;

    .main_logo {
        border-radius: 20%;
    }

    .main_name {
        color: $primary-color;
        font-size: 18px;
    }


}

// .main_sideBar{
//     background: #3F91F5;
//     position: relative;
// }

.main_header {
    .dot_status {
        color: $online;
        position: absolute;
        left: 20px;
        bottom: 0px;
    }
}

.main_layout {
    background: rgba(128, 181, 245, 0.16);
}

.custom_icon_sidebar {
    font-size: 23px !important;
}

.header_table {
    --bs-table-bg: #F3F2F7
}

.filter-listing {
    margin-bottom: 30px;
}

.filter-listing button {
    margin-right: 15px;
}

.demo-inline-spacing {
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
    align-items: center;

    &>* {
        margin-right: 1.5rem;
        margin-top: 1.5rem;
    }
}

.form-label span {
    color: red;
}

.sider_parent {
    .sider_custom {
        overflow-y: auto;
        max-height: 85vh;
    }


    ::-webkit-scrollbar {
        width: 8px;
    }

    ::-webkit-scrollbar-track {
        background: #f1f1f1;
    }

    ::-webkit-scrollbar-thumb {
        background-color: #7fbbf3;
        border-radius: 10px;
        border: 2px solid #f1f1f1;
    }

    ::-webkit-scrollbar-thumb:hover {
        background: #1e85f4;
        width: 10px;
    }

    .ant-layout-sider-trigger {
        background: #007aed;

        span {
            font-size: 20px;
            font-weight: bold;
        }
    }
}

.none_Selected {
    color: #62728899
}